<div class="row no-gutters container m-auto page-min-width p-3">

    <div class="page">

        <div *ngFor="let element of elements; let i = index" [id]="'element' + element.id"
            [ngClass]="{ 'active': element.underCarret, 'editing': element.isEditing }">

            <app-element [element]="element" [i]="i" [underCarret]="element.underCarret" (onBlur)="onBlur($event)"
                (onEdit)="onEdit($event)" (click)="setUnderCarret(null, i)" (onBookmark)="onBookmark($event)">
            </app-element>
        </div>
    </div>
</div>