@import "./overrides/scss/_variables";

app-navigation {
    display: block;
    float: left;
}

.menu-item {
    display: block;
    width: auto;
    float: left;
}

.navigation-bar {
    background-color: $red-menu-background;
    border-color: $red-border-dufry;
    min-height: 50px;

    .mat-button {
        height: 50px;
        min-width: 100px;
        color: white;
        text-transform: uppercase;
        border-radius: 0;
    }

    .multiple-options-config {
        .mat-icon {
            margin-bottom: 4px;
        }
    }

    .multi-op {
        color: white;
        min-height: 50px;
    }

    .mat-button.active,
    .multi-op.active {
        border-top: 1px solid $red-border-dufry;
        background: white;
        color: $red-border-dufry;
        border-radius: 0;

        &:hover .mat-button-focus-overlay {
            opacity: 0 !important;
        }
    }
}
.navigation-bar-tabs {
    @extend .navigation-bar;
    background-color: $red-border-dufry-darker;
    .mat-button.active,
    .multi-op.active {
        border-top: none;
        background: none;
        color: $white;
        border-bottom: 5px solid #FFFFFF;
    }
}
