$white: #fff;
$grey: #eee;
$dark: #252525;
$black: #1d1d1d;

$red: #df031c;

$facebook-blue: #3b5998;
$facebook-light-blue: #3f73de;

// de la firma!!

$dark-grey: #ccc;
$red-dufry: #df031c;
$red-variation-dufry: #cb041b;
$red-border-dufry: #CB003E;
$red-border-dufry-darker: #a00115;

$table-header-background: #c8c8c8;
$table-row-highlight-color: #ebebeb;
$table-border-color: #a8a8a8;

$light-grey: #eae6e6;
$red-menu-background: #b60318;

$text-editor-placeholder-color: #4985bb;
$loader-overlay-background: rgba(107, 106, 106, 0.33);
$dark-black: #333333;

$select-hover-color: #f5f5f5;
$dufry-green: #95da2c;
$text-grey: rgba(0,0,0,.6);

// variations: #77A8A8, #535353, #B0AAC0
$de-contrasting: #77A8A8;
$de-contrasting-light: #EEF0F2;

$shop-disabled: #929292;

$red-dufry-uat: #cfa5b2;
$red-border-dufry-uat: #d190a4;
$red-variation-dufry-uat: #bd8295;
$red-border-dufry-darker-uat: #78545f;
