.rich-text-checkbox {
    display: inline;
    height: 0;
    position: relative;
    left: 0;
    top: -20px;

    .mat-checkbox {
        width: 0;
        display: flex;
    }
}

ckeditor {
    margin-top: -20px;
}
