<div *ngIf="loaded === true">
    <div class="element" [ngClass]="element?.typeClass">

        <mat-form-field
            *ngIf="element.type === ElementTypeRef.SCENE_HEADING || element.type === ElementTypeRef.CHARACTER"
            [ngClass]="element.inputClass">
            <input matInput #inputRef [name]='element.id' [placeholder]="element.type" [(ngModel)]="element.text" (focus)="edit()"
                (blur)="blur()">
        </mat-form-field>

        <mat-form-field *ngIf="(!element.hasRichText && element.type === ElementTypeRef.ACTION) || element.type === ElementTypeRef.DIALOG"
            [ngClass]="element.inputClass">

            <textarea matInput #inputRef cdkTextareaAutosize cdkAutosizeMinRows="2" [name]="element.id"
                [placeholder]="element.type" [(ngModel)]="element.text" (focus)="edit()" (blur)="blur()">
                </textarea>
        </mat-form-field>

        <ckeditor #ckEditorRef *ngIf="element.hasRichText && element.type === ElementTypeRef.ACTION"
            class="w-100" [config]="editorModel.config" style="margin-top: -20px;"
            [(ngModel)]="editorModel.editorData" [editor]="Editor"></ckeditor>

        <div class="rich-text-checkbox" *ngIf="element.type === ElementTypeRef.ACTION">
            <mat-checkbox [hidden]="!element.underCarret"
                [(ngModel)]="element.hasRichText" (change)="onActionRichText($event)">Rich</mat-checkbox>
        </div>

    </div>
    <app-cursor #cursorRef></app-cursor>
</div>