<app-header [scrollClass]="scrollClass"></app-header>

<div class="page-map">
    <app-page-map></app-page-map>
</div>

<ng-scrollbar #NgScrollbar class="scroll-area" [ngClass]="scrollClass">

    <div class="container-fluid p-0">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</ng-scrollbar>
<div [hidden]="scrollClass !== 'min'" class="back-to-top-button">
    <button mat-button (click)="showMenu()">
        <fa-icon [icon]="faBars"></fa-icon>
    </button>
</div>