<div class="row no-gutters container m-auto page-min-width p-3">
    <div class="container-fluid pt-5 justify-content-center">

        <div class="col-12">
            <h3>
                Terms of Service
            </h3>
        </div>

        <div class="col-11 m-auto">
            <p>
                These gamescrypt.com Analytics Terms of Service (this "<b>Agreement</b>") are entered into by
                gamescrypt.com
                and the entity executing this Agreement ("<b>You</b>"). This Agreement governs Your use
                of this website (the "<b>Service</b>"). BY STAYING ON THIS WEBSITE, AND USING THE SERVICE, YOU
                ACKNOWLEDGE
                THAT YOU HAVE REVIEWED AND ACCEPT THIS AGREEMENT AND ARE AUTHORIZED TO ACT ON BEHALF OF, AND BIND TO
                THIS AGREEMENT. In consideration of the foregoing, the parties agree as specified below.

                We may amend this Agreement at any time by posting the amended terms on our Website. We may or may
                not post notices on the homepage of our Website when such changes occur.

                We refer to this Agreement, our Privacy Policy accessible below, and any other terms, rules, or
                guidelines on our Website collectively as our "Legal Terms." You explicitly and implicitly agree to
                be bound by our Legal Terms each time you access our Website. If you do not wish to be so bound,
                please do not use or access our Website.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                Limited License
            </h4>
        </div>

        <div class="col-10 m-auto">
            <p>
                gamescrypt.com grants you a non-exclusive, non-transferable, revocable license to access and use our
                Website in order for you to make stories, movie scripts and other media content through our
                Service, strictly in accordance with our Legal Terms.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                Copyrights and Trademarks
            </h4>
        </div>

        <div class="col-10 m-auto">
            <p>
                Unless otherwise stated, all materials including without limitation, logos, brand names, images,
                designs, photographs, video clips, written and other materials that appear as part of our Website
                are copyrights, trademarks, service marks, trade dress and/or other intellectual property whether
                registered or unregistered ("<b>Intellectual Property</b>") owned, controlled or licensed by
                gamescrypt.com.
            </p>
            <p>
                Our Website as a whole is protected by copyright and trade dress. Nothing on our Website should be
                construed as granting, by implication, estoppel or otherwise, any license or right to use any
                Intellectual Property displayed or used on our Website, <b>without the prior written permission of
                    the
                    Intellectual Property owner</b>. gamescrypt.com aggressively enforces its intellectual property
                rights to the fullest extent of the law.
            </p>
            <p>
                The names and logos of our Service, may not be used in any
                way, including in advertising or publicity pertaining to distribution of materials on our Website,
                without prior, written permission from gamescrypt.com. Fair use of gamescrypt.com’s Intellectual
                Property requires proper acknowledgment. Other product and company names mentioned in our Website
                may be the Intellectual Property of their respective owners.
            </p>
            <p>
                Our Website contains links to Websites owned or operated by parties other than gamescrypt.com. Such
                links
                are provided for your reference only. Our Service does not monitor or control outside Websites and
                is
                not responsible for their content. gamescrypt.com’s inclusion of links to an outside Website does
                not imply
                any endorsement of the material on our Website or, unless expressly disclosed otherwise, any
                sponsorship, affiliation or association with its owner, operator or sponsor, nor does
                gamescrypt.com’
                inclusion of the links imply that our Service is authorized to use any trade name, trademark, logo,
                legal or official seal, or copyrighted symbol that may be reflected in the linked Website.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                No Warranties; Exclusion of Liability; Indemnification
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                Our website is operated by gamescrypt.com on an "as is," "as available" basis, without representations
                or
                warranties of
                any kind. To the fullest extent permitted by law, gamescrypt.com specifically disclaims all warranties
                and
                conditions
                of any kind, including all implied warranties and conditions of merchantability, fitness for a
                particular
                purpose,
                title and noninfringement for our website and any contracts and services you purchase through it.
                gamescrypt.com
                shall not have any liability or responsibility for any errors or omissions in the content of our
                website,
                for
                contracts or
                services sold through our website, for your action or inaction in connection with our website or for any
                damage to
                your computer or data or any other damage you may incur in connection with our website.
            </p>
            <p>
                Your use of our
                website and
                any contracts or services are at your own risk. In no event shall either gamescrypt.com or their agents
                be
                liable for
                any direct, indirect, punitive, incidental, special or consequential damages arising out of or in any
                way
                connected
                with the use of our website, contracts and services purchased through our website, the delay or
                inability to
                use our
                website or otherwise arising in connection with our website, contracts or related services, whether
                based on
                contract, tort, strict liability or otherwise, even if advised of the possibility of any such damages.
                In no
                event
                shall gamescrypt.com liability for any damage claim exceed the amount paid by you to our Service for the
                transaction
                giving rise to such damage claim.
            </p>
            <p>
                Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so
                the
                above
                exclusion may not apply to you.
            </p>
            <p>
                Without limiting the foregoing, gamescrypt.com do not represent or warrant that the information on the
                webite
                is
                accurate, complete, reliable, useful, timely or current or that our website will operate without
                interruption or
                error.
            </p>
            <p>
                You agree that all times, you will look to attorneys from whom you purchase services for any claims of
                any
                nature,
                including loss, damage, or warranty. our Service and their respective affiliates make no representation
                or
                guarantees about any contracts and services offered through our website.
            </p>

        </div>

        <div class="col-11 m-auto">
            <h4>
                Content Disclaimer
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                Postings on our Website are made at such times as gamescrypt.com determines in its discretion. You
                should not
                assume that the information contained on our Website has been updated or otherwise contains current
                information. gamescrypt.com does not review past postings to determine whether they remain accurate
                and
                information contained in such postings may have been superseded.
            </p>
            <p>
                THE INFORMATION AND MATERIALS IN OUR
                WEBSITE ARE PROVIDED FOR YOUR REVIEW IN ACCORDANCE WITH THE NOTICES, TERMS AND CONDITIONS SET FORTH
                HEREIN. THESE MATERIALS ARE NOT GUARANTEED OR REPRESENTED TO BE COMPLETE, CORRECT OR UP TO DATE.
                THESE
                MATERIALS MAY BE CHANGED FROM TIME TO TIME WITHOUT NOTICE.
            </p>
        </div>


        <div class="col-11 m-auto">
            <h4>
                Indemnification
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                You agree to defend, indemnify and hold our Service harmless from and against any and all claims,
                damages,
                costs and expenses, including attorneys' fees, arising from or related to your use of our Website or
                any
                Contracts or Services you purchase through it.
            </p>
        </div>

        <div class="col-12">
            <h3>
                Privacy Policy
            </h3>
        </div>

        <div class="col-11 m-auto">

            <p>
                <b>We are not collecting personal data but we do use third party applications that may do.</b>
                Please
                verify their privacy policies to find out more: <b>Google Analytics, Google Adsense, Gmail,
                    Facebook,
                    Youtube</b>. We might add or remove thrid party applications to the website at any time without
                notice.
                Please check the source code of the site or use browser plugins to identify them.
            </p>

            <ul>
                <li>
                    Google Analytics: <a href="https://marketingplatform.google.com/about/analytics/terms/us/">Terms</a>
                </li>
                <li>
                    Google Adsense: <a href="https://policies.google.com/technologies/ads">Advertising Terms</a>
                </li>
                <li>
                    Gmail: <a href="https://policies.google.com/privacy?hl=en-US">Privacy & Terms</a>
                </li>
                <li>
                    Facebook: <a href="https://www.facebook.com/policy.php">Privacy Policy</a>
                </li>
                <li>
                    Youtube: <a href="https://www.youtube.com/about/policies/#community-guidelines">Community
                        Policy</a>
                </li>
            </ul>

            <p>
                Our Privacy Policy was posted on 2 December 2019 and last updated on 4 December 2019. It governs the
                privacy terms of our Website, located at www.gamescrypt.com. Any capitalized terms not defined in
                our
                Privacy Policy, have the meaning as specified in our Terms of Use accessible above.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                Definitions
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                "Personally Identifiable Information" is non-public information that is personally identifiable to
                you and obtained in order for us to provide you within our Website. Personally Identifiable
                Information may include information such as your name, email address, and other related information
                that you provide to us or that we obtain about you.
            </p>

            <p>
                "Non Personal Information" is information that is not personally identifiable to you and that we
                automatically collect when you access our Website with a web browser. It may also include publicly
                available information that is shared between you and others.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                Your Privacy
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                Our Service follows all legal requirements to protect your privacy. Our Privacy Policy is a legal
                statement
                that explains how we may collect information from you, how we may share your information, and how
                you can
                limit our sharing of your information.
            </p>

            <p>
                Generally, you control the amount and type of information you provide to us when using our Website.
                You are not required to provide us with any Personally Identifiable Information as a Visitor.
            </p>
            <p>
                When you use our Website, we automatically collect certain computer information by the interaction
                of
                your mobile phone or web browser with our Website. Such information is typically considered Non
                Personal
                Information.
            </p>
        </div>

        <div class="col-12 m-auto">
            <h3>
                Cookies
            </h3>
        </div>

        <div class="col-11 m-auto">
            <h4>
                What is a cookie?
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                A cookie is a small file that can be placed on your device that allows us to
                recognise and remember you. It is sent to your browser and stored on your computer's hard drive or
                tablet or mobile device. When you visit our sites, we may collect information from you automatically
                through cookies or similar technology.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                What types of cookies do we use ?
            </h4>
        </div>

        <div class="col-10 m-auto">
            <p>
                We use four types of cookies, which we describe in this section.
            </p>
            <p>
                Essential - cookies that are essential to provide you with services you have requested. For example,
                these include the cookies that make it possible for you to stay logged into your Guardian account
                and make comments. If you set your browser to block these cookies, then these functions and services
                will not work for you. In particular, we won't be able to save your preferences about cookies.
            </p>
            <p>
                Performance - cookies which measure how often you visit our sites, the Google Analytics cookie gives
                us information such
                as your journey between pages and whether you have downloaded anything (details of how to opt out of
                it are below).
            </p>
            <p>
                Functionality - cookies that are used to recognise you and remember your preferences or settings
                when you return to our site, so that we can provide you with a more personalised experience. For
                example, if you are based in the United Kingdom, we will remember this and make sure that you
                receive the UK homepage when you visit our site, rather than the US or Australia homepage. A mix of
                first-party and third-party cookies are used.
            </p>
            <p>
                Advertising - cookies that are used to collect information about your visit to our site, the content
                you have viewed, the links you have followed and information about your browser, device and your IP
                address. We have set out more details on this below.
            </p>

            <p>
                We use Google Analytics to track visitor activity. This third party tool is using cookies which you
                may disable in your browser.
            </p>
        </div>

        <div class="col-12 m-auto">
            <h3>
                Advertising
            </h3>
        </div>

        <div class="col-11 m-auto">
            <p>
                <b>gameScrypt.com</b> might show AdSense ads.
            </p>

            <h4>
                IMPORTANT!
            </h4>
        </div>

        <div class="col-10 m-auto">
            <p>
                <b>Please stop using the website if you disagree with any of the terms above.</b>
            </p>
        </div>



        <div class="col-12">
            <h3>
                Social Networking Services
            </h3>
        </div>

        <div class="col-11 m-auto">

            <p>
                You may register to join the Service by logging into your account with a
                third
                party social
                networking service CSNS") via our Service (e.g.. Facebook and maybe other third party services
                that let
                you sign in
                using your existing credentials with those services). If you choose to register via an SNS, or to
                later link
                your
                account with the Service to your account with an SNS. we will use the Personal Information you have
                provided
                to the SNS
                (such as your name, email address that you made publicly available via the
                SNS) to
                create your
                account.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                What Data Does gamescrypt.com Collect'?
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                When You Create a gamescrypt.com Account If you want to access data collected by your Device from
                out Service App, you will also have the option to create your gamescrypt.com account using a
                credential
                like your Facebook account. If you choose to do so, we will ask permission to access basic
                information from that account, like your name, profile picture, You can stop sharing that
                information with us at any time by removing gamescrypt.com's access to that account by Facebook.
            </p>

            <p>
                If you connect to our Service through Facebook you may have the opportunity to connect to
                gamescrypt.com
                through Facebook's API when you register for our Service or after you have registered for our
                Service.
            </p>
            <p>
                If you connect to gamescrypt.com through Facebook, either when you register or after you have
                registered,
                we will collect, store, and use in accordance with this Privacy Policy the information you agreed
                that
                Facebook could provide to gamescrypt.com through its API.
            </p>
            <p>
                Your agreement (and our access to your information) takes place when you instruct, accept or allow
                Facebook to register you for a gamescrypt.com account or otherwise connect to our Service through
                Facebook.
                The information our Service may access, collect and store may include the following, among other
                information, as allowed by you, Facebook's API, and your Facebook privacy settings:
            </p>

            <ul>
                <li>
                    your name
                </li>
                <li>
                    your profile picture
                </li>
                <li>
                    your email address
                </li>
            </ul>
        </div>

        <div class="col-11 m-auto">
            <h4>
                Information from other sources
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                Facebook connect gamescrypt.com allows you to sign up and log in using your Facebook account. If you
                sign up using Facebook.
                Facebook will ask your permission to share certain information from your Facebook account with
                our Service.
            </p>
            <p>
                This includes your first name, last name, email address, a link to your Facebook profile, profile
                picture.
                <b>in order for us to save the content you make on our server as being yours.</b>
            </p>
            <p>
                This information is collected by Facebook and is provided to us under the terms of <a
                    href="https://www.facebook.com/policy.php">Facebook's privacy policy</a>.
                You can
                control the information that we receive from Facebook using the privacy settings in your Facebook
                account.
            </p>
            <p>
                If you do not wish to share your gamescrypt.com activity with your Facebook friends, you can control
                this
                from
                the
                Settings page on the Website - for more information, see the Choice and Control section below.
            </p>
            <p>
                If you signed up using Facebook by mistake you can email us at
                <!--    TODO - add email-->
                <a href="https://www.google.com">owner.gamescrypt@gmail.com.</a>
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                SNS Relationship
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                Note that the information we collect from and through an SNS may depend on the privacy
                settings you
                have set
                with the SNS and the permissions you grant to us in connection with linking your account with the
                Service to
                your
                account with an SNS. Other than what we may share with the SNS as described below, the Personal
                Information
                an SNS has
                about you is obtained by the SNS independent of our Service, and gamescrypt.com is not responsible
                for it.
            </p>
            <p>
                The gamescrypt.com Service also may permit additional interactions between it and a third party
                website.
                service, or
                other
                content provider, such as enabling you to like" or share content to a third party SNS. If you choose
                to
                like" or share
                content, or to otherwise share information from or via our Service with a third party site or
                service, that
                information
                may be publicly displayed, and the third party may have access to information about you and your use
                of our
                Service (and
                we may have access to information about you from that third party).
            </p>
            <p>
                These features may collect your
                IP
                address, which
                page you are visiting on our site, and may set a cookie to enable the feature to function properly.
                Your
                interactions
                with third parties through SNS or similar features are governed by the respective privacy policies
                of those
                third
                parties.
                You represent that you are entitled to use your SNS account for the purposes described herein
                without breach
                by you of
                any of the terms and conditions that govern the SNS, and without obligating gamescrypt.com to pay
                any fees
                or making
                gamescrypt.com
                subject to any usage limitations imposed by such SNS.
            </p>

        </div>

        <div class="col-11 m-auto">
            <p>
                You can disable the link between your gamescrypt.com
                account
                and your SNS
                account at any time though the "Settings" section of our Service. Please note that your relationship
                with
                any SNS is
                governed solely by your agreement(s) with such SNS.
                <b>If your SNS account terminates, then functions enabled through the
                    link between your gamescrypt.com account and your SNS account will terminate as well.</b>
            </p>
        </div>

    </div>
</div>