@import "app/theme/overrides/scss/_variables";

@media (min-width: $xs-breakpoint) {
  .page-map {
    left: 2px;
    .map {
      width: 7vw;
    }
  }

  .page {
    margin: 5mm 0;
    width: 100%;
    padding: 5mm 7mm;
  }

  .ng-scroll-content {
    width: 100%;
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: $sm-breakpoint) {
  .page-map {
    left: 5px;
    .map {
      width: 5vw;
    }
  }

  .page {
    margin: 5mm 0;
    width: 100%;
    padding: 10mm 10mm;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $md-breakpoint) {
  .page-map {
    left: 5px;
    .map {
      width: 15vw;
    }
  }

  .page {
    width: 210mm;
    padding: 20mm;
    margin: 10mm auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $lg-breakpoint) {
  .page-map {
    left: 5px;
    .map {
      width: 15vw;
    }
  }

  .page {
    width: 210mm;
    padding: 20mm;
    margin: 10mm auto;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $xl-breakpoint) {
}

// custom high
@media (min-width: 1250px) {
  .page-map {
    left: 1vw;

    .map {
      width: 15vw;
    }
  }
}

// 1366px
@media (min-width: $laptop-breakpoint) {
  .page-map {
    left: 2vw;

    .map {
      width: 18vw;
    }
  }

  .footer-link {
    a {
      font-size: 0.5em !important;
    }
  }

}

@media (min-width: $xxl-breakpoint) {
  .page-map {
    left: 3vw;

    .map {
      width: 20vw;
    }
  }

  .footer-link {
    a {
      font-size: 0.5em !important;
    }
  }
}
