/* You can add global styles to this file, and also import other style files */

@import "app/theme/overrides/scss/_variables";

* {
    outline: none !important;
}

html, body {
    height: 100vh !important;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-min-width {
    min-height: calc(100vh - 300px);
}

.main-menu {
    background-color: $black;
    min-height: 50px;
}

.navigation-bar {
    .bec-process {
        width: 25%;
    }

    .mindit-menu .multi-op.mat-icon-button.active {
        top: 1.5px !important;
    }

    .menu-item {
        .mat-button {
            padding: 0px 30px;
            font-size: 13px !important;
            min-width: 60px !important;
        }

        .mat-icon-button {
            width: 25px;
        }
    }
}

.navigation-bar-tabs {
    .mindit-submenu button.multi-op.mat-icon-button.active {
        top: 1.5px !important;
    }

    .menu-item {
        .mat-button,
        .mat-button.active {
            top: 1.5px !important;
            padding: 0px 10px !important;
            font-size: 13px !important;
            min-width: 60px !important;
        }

        .mat-icon-button {
            width: 25px;
        }
    }
}

.scroll-area {
    height: calc(100vh - 100px);
    max-height: calc(100vh - 100px) !important;
    transition: height 1.5s !important;
}

.scroll-area.min {
    max-height: calc(100vh - 50px) !important;
}

.scroll-area.med {
    max-height: calc(100vh - 100px) !important;
}

.scroll-area.max {
    max-height: calc(100vh - 100px) !important;
}

.facebook-button {
    .mat-button-wrapper {
        color: white !important;
    }

    .fa-facebook {
        font-size: 35px;
        color: $facebook-light-blue !important;
    }

    .face-logged-in-info {
        > div {
            float: left;
            display: block;
            width: 100%;
            text-align: right;
            transition: all 0.5s;
        }

        img {
            border-radius: 50%;
            height: 44px;
            margin-left: 5px;
            float: right;
        }

        padding-right: 15px;
        font-size: 13px;
        line-height: 20px;

        &.min {
            color: transparent !important;
        }

        &.med {
            color: transparent !important;
        }

        &.max {
            color: white !important;
        }
    }
}

fa-icon {
    color: white;
}


//-----------------------------------------------------------------------------


@font-face {
    src: url(./assets/fonts/GraphikRegular.otf);
    font-family: graphikRegular;
}
@font-face {
    src: url('./assets/fonts/robotoslab-regular.woff2') format('woff2'),
        url('./assets/fonts/robotoslab-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-family: robotoSlabRegular;
}

.element.action,
.element.dialog {
    font-family: graphikRegular;
    font-size: 15px;
}
.element.scene-heading,
.element.character {
    font-family: robotoSlabRegular;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 257mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}

@media print {

    html,
    body {
        width: 210mm;
        height: 297mm;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.element {
    display: block;
}

.element.scene-heading {
    background-color: lightgray;
    padding: 0 1mm;
}

.element.action {
    padding: 5mm 20mm;
}

.element.character {
    padding: 1mm 50mm;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.element.dialog {
    padding: 1mm 50mm;
    text-align: center;
    text-transform: capitalize;
    font-size: 4mm;
}

.element.picture {
    padding: 5mm 20mm;
    min-height: 70mm;
    width: 170mm;
    text-align: center;
}

.element.picture img {
    max-height: 250px;
    /* background: url(http://mehararts.com/category_image/demo.png); */
}

.picture.many {
    padding: 5mm 5mm !important;
    display: inline-block !important;
}

.picture.many img {
    // width: 48% !important;
    padding: 0 1% !important;
}

.page-nr {
    text-align: center; 
    height: 7px; 
    font-size: 10px;
    position: relative; 
    bottom: 0; 
    display: block;
}



//-----------------------------------------------------------------------------

.element.scene-heading {

    .mat-input-element {
        text-transform: uppercase;
        //
        font-family: robotoSlabRegular;
        font-size: 14px;
    }

    
}

.element.scene-heading,
.element.action,
.element.character,
.element.dialog {

    .mat-form-field {
        margin-bottom: -17px;
    }

    .mat-form-field-infix {
        border-top: 0;
    }
}

.element.action,
.element.dialog {

    .cdk-textarea-autosize {
        overflow: hidden;
    }
}

.element.action {

    .mat-input-element {
        font-family: graphikRegular;
        font-size: 15px;
    }
}

.element.character {

    .mat-input-element {
        text-transform: uppercase;
        text-align: center;
        //
        font-family: robotoSlabRegular;
        font-size: 14px;
        font-weight: 700;
    }

    .mat-form-field-label {
        text-align: center;
    }
}

.element.dialog {

    .mat-input-element {
        text-align: center;
        //
        font-family: graphikRegular;
        font-size: 15px;
    }

    .mat-form-field-label {
        text-align: center;
    }
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: transparent;
}

.mat-form-field-appearance-legacy {
    
    .mat-form-field-label {
        color: transparent;
    }

    .mat-form-field-empty {
        color: rgba(0,0,0,.54);
    }

    .mat-form-field-underline {

        background-color: transparent;
    }
}

.input-empty.mat-form-field-appearance-legacy {

    .mat-form-field-underline {

        background-color: rgba(0,0,0,.42);
    }
}


//

.back-to-top-button {
    position: absolute;
    bottom: 40px;
    right: 60px;
    z-index: 999999;
    display: block;

    //
    width: 64px;
    height: 64px;
    background: transparent;
    border-radius: 50%;

    button {
        padding: 0;
        height: 100%;
        width: 100%;
        font-size: 64px;

        fa-icon {
            color: rgba(0,0,0,0.5);
        }
    }
}

.cursor {

    height: 0px;

    .carret {
        height: 3px;
        background: #3f51b5;
    }
}
